:root {
 --primary-color: #2463EB;
 --secondary-color: #0F766E;
 --terniary-color: #7C3AED;

 --danger: #DC2626;
 --warning: #D97706;
 --success: #16A34A;
 --info: #016dba;

 --text-primary: #0F172A;
 --text-secondary: #64748B;

 --bg-primary: #F8FAFC;
 --bg-secondary: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}